<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientes" />
                <binding name="BasicHttpBinding_IArticulos" />
                <binding name="BasicHttpBinding_IPedidos" />
                <binding name="BasicHttpBinding_IPedidoDetalles" />
                <binding name="BasicHttpBinding_IStocks" />
                <binding name="BasicHttpBinding_IVerificaDocumento" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16224/Clientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientes" contract="ClientesServiceReference.IClientes"
                name="BasicHttpBinding_IClientes" />
            <endpoint address="http://localhost:16224/Articulos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IArticulos" contract="ArticulosServiceReference.IArticulos"
                name="BasicHttpBinding_IArticulos" />
            <endpoint address="http://localhost:16224/Pedidos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPedidos" contract="PedidosWS.IPedidos"
                name="BasicHttpBinding_IPedidos" />
            <endpoint address="http://localhost:16224/PedidoDetalles.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoDetalles"
                contract="PedidoDetallesWS.IPedidoDetalles" name="BasicHttpBinding_IPedidoDetalles" />
            <endpoint address="http://localhost:16224/Stocks.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStocks" contract="StocksServiceReference.IStocks"
                name="BasicHttpBinding_IStocks" />
            <endpoint address="http://localhost:16224/VerificaDocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerificaDocumento"
                contract="VerificarRUCServiceReference.IVerificaDocumento"
                name="BasicHttpBinding_IVerificaDocumento" />
        </client>
    </system.serviceModel>
    <appSettings>
        <add key="ServiceUrl" value="http://localhost:23440/PedidosREST.svc/ListarPedidos"/>
    </appSettings>
</configuration>


